body {
  height: 100%;
  width:100%;
  background-color: black;
  /*background-image: url(assets/images/img1.jpg);*/

}


#state-list {
  overflow: auto;
}

body {
  color: #fff;
  text-align: center;
  display: table;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}




.masthead-nav > li {
  display: inline-block;
  float: left;
  position: relative;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
  margin-top: 50px;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.images{
  /*background-position: center;
  height:100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;*/
  position: fixed;
}

.text{
  font-family: 'Playfair Display SC', serif;
  font-size: 40px;
  margin-top: 80px;
  display: table;
}

a:hover { text-decoration: underline }
.container, .main {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}
.main { margin-top: 50px }
input {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #555860;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(../images/magnify.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 40%;
}
